@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  audio:not([controls]), canvas:not([controls]), video:not([controls]) {
    display: none; }

figure {
  margin: 0; }

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: "Avenir LT W01 65 Medium", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: white;
  background-color: black; }
  body.front {
    background-color: white;
    color: black; }
  body.about {
    background-color: #2f3bff; }

.element-invisible {
  display: none; }

a {
  color: #222222;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: underline; }
  a:focus {
    outline: none; }
  a img {
    border: none; }

::selection {
  background: transparent;
  color: #2f3bff; }

::-moz-selection {
  background: transparent;
  color: #2f3bff; }

.center {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.hidden {
  display: none; }

.visible {
  display: block; }

.highlight {
  background: #ffff99; }

.spacer {
  height: 50px;
  width: 100%;
  clear: both; }

img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

#map_canvas img, #map_canvas object, #map_canvas embed {
  max-width: none; }

#googlemap img, object, embed {
  max-width: none; }

button, input, select, textarea {
  margin: 0; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    display: table;
    line-height: 0;
    content: ""; }
  .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

.muted {
  color: whitesmoke; }

.text-warning {
  color: #fd5441; }

.text-error {
  color: #fd5441; }

.text-info {
  color: #f7f7f7; }

.text-success {
  color: #20dc8e; }

h1, h2, h3 {
  margin: 0 0 10px 0;
  line-height: 1.5;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 18px; }

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px; }

ul ul, ul ol {
  margin-bottom: 0; }

ol ol, ol ul {
  margin-bottom: 0; }

li {
  line-height: 20px; }

ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 20px; }

dt, dd {
  line-height: 20px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 10px; }

.dl-horizontal {
  *zoom: 1; }
  .dl-horizontal:before {
    display: table;
    line-height: 0;
    content: ""; }
  .dl-horizontal:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both; }
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; }

hr {
  margin: 50px 0;
  border: 0;
  border-top: 1px solid #e9e9e9;
  clear: both; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted whitesmoke; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #f7f7f7; }
  blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px; }

q:before, q:after {
  content: ""; }

blockquote:before, blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px; }

code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  border-radius: 3px; }

code {
  padding: 2px 4px;
  color: #dd1144;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  pre.prettyprint {
    margin-bottom: 20px; }
  pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

.bordered {
  min-height: 20px;
  padding: 3em;
  margin-bottom: 20px;
  border: 4px solid #e9e9e9; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  color: #222222;
  z-index: 700; }

.btn {
  display: inline-block;
  padding: 14px 27px 14px 29px;
  color: white;
  border: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  background-color: #222222;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition-property: all;
  -moz-transition-duration: 0.1s;
  -moz-transition-timing-function: cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition-property: all;
  -ms-transition-duration: 0.1s;
  -ms-transition-timing-function: cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition-property: all;
  -o-transition-duration: 0.1s;
  -o-transition-timing-function: cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.694, 0.0482, 0.335, 1);
  font-size: 14px;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .btn:hover {
    background-color: #2f3bff;
    color: #fcfcfc;
    text-decoration: none; }
  .btn.active, .btn:active {
    outline: 0; }
  .btn:visited {
    color: white; }
  .btn:focus {
    outline: none; }
  .btn.disabled, .btn[disabled] {
    background: #f7f7f7;
    color: white; }
    .btn.disabled:hover, .btn[disabled]:hover {
      background: #f7f7f7; }
  .btn.rounded {
    border-radius: 50px; }
  .btn.primo {
    background: #2f3bff; }
    .btn.primo:hover {
      opacity: 0.8; }
  .btn.btn-hollow {
    border: 2px solid #222222;
    color: #222222;
    background: none; }
    .btn.btn-hollow:hover {
      color: #2f3bff;
      border: 2px solid #2f3bff;
      text-decoration: none; }
    .btn.btn-hollow.active, .btn.btn-hollow:active {
      outline: 0; }
    .btn.btn-hollow.disabled, .btn.btn-hollow[disabled] {
      opacity: 0.4; }
      .btn.btn-hollow.disabled:hover, .btn.btn-hollow[disabled]:hover {
        border: 4px solid #111111; }
  .btn .icon {
    position: relative;
    line-height: 0;
    top: 2px;
    font-size: 2em;
    margin-right: 3px; }
  .btn.btn-small {
    padding: 10px;
    font-size: 12px;
    max-width: 20em; }
    .btn.btn-small [class^="icon-"] {
      margin-top: 0; }
  .btn.full {
    width: 100%; }
  .btn.rounded {
    border-radius: 50px; }

button.btn {
  *padding-top: 3px;
  *padding-bottom: 3px; }

.pagination {
  margin-bottom: 20px;
  text-align: center; }
  .pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
    .pagination ul > li {
      display: inline; }
      .pagination ul > li:first-child a {
        border-left-width: 1px; }
      .pagination ul > li a {
        float: left;
        padding: 6px 15px;
        line-height: 20px;
        text-decoration: none;
        background-color: white;
        border: 1px solid #cccccc;
        border-left-width: 0; }
        .pagination ul > li a.active {
          background: #e9e9e9; }

.alert {
  position: fixed;
  z-index: 1000;
  top: 60px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #fd5441;
  background-color: white;
  border: 1px solid #fd5441;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); }
  .alert h4 {
    margin: 0; }
  .alert .close {
    position: relative;
    top: 2px;
    right: 3px;
    line-height: 1;
    border: 1px solid white;
    background: white;
    font-weight: bold;
    font-size: 18px;
    color: #222222;
    vertical-align: baseline; }
    .alert .close:focus {
      outline: none; }

.alert-success {
  color: #20dc8e;
  background-color: white;
  border-color: #20dc8e; }

.label, .badge {
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #e9e9e9; }

.label {
  padding: 1px 4px 2px;
  border-radius: 3px; }

.badge {
  padding: 1px 9px 2px;
  border-radius: 9px; }

a.label:hover, a.badge:hover {
  color: white;
  text-decoration: none;
  cursor: pointer; }

.label-important, .badge-important {
  background-color: #fd5441; }

.label-important[href], .badge-important[href] {
  background-color: #953b39; }

.label-success, .badge-success {
  background-color: #20dc8e; }

.label-success[href], .badge-success[href] {
  background-color: #356635; }

.btn .label, .btn .badge {
  position: relative;
  top: -1px; }

.btn-mini .label, .btn-mini .badge {
  top: 0; }

@font-face {
  font-family: "EntypoSocial";
  src: url("../fonts/entypo-social.eot");
  src: url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "entypo";
  text-align: center;
  line-height: 1;
  font-size: inherit; }

.icon-social {
  font-family: "EntypoSocial";
  text-align: center;
  line-height: 1;
  font-size: inherit; }

span.i {
  font-family: "entypo";
  text-align: center;
  line-height: 1;
  font-size: 3em; }

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: 0.3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat; }

.icon-white {
  background-image: url("../images/glyphicons-halflings-white.png"); }

.nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png"); }

.nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png"); }

.nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png"); }

.navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png"); }

.dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png"); }
.dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png"); }

.icon-glass {
  background-position: 0 0; }

.icon-music {
  background-position: -24px 0; }

.icon-search {
  background-position: -48px 0; }

.icon-envelope {
  background-position: -72px 0; }

.icon-heart {
  background-position: -96px 0; }

.icon-star {
  background-position: -120px 0; }

.icon-star-empty {
  background-position: -144px 0; }

.icon-user {
  background-position: -168px 0; }

.icon-film {
  background-position: -192px 0; }

.icon-th-large {
  background-position: -216px 0; }

.icon-th {
  background-position: -240px 0; }

.icon-th-list {
  background-position: -264px 0; }

.icon-ok {
  background-position: -288px 0; }

.icon-remove {
  background-position: -312px 0; }

.icon-zoom-in {
  background-position: -336px 0; }

.icon-zoom-out {
  background-position: -360px 0; }

.icon-off {
  background-position: -384px 0; }

.icon-signal {
  background-position: -408px 0; }

.icon-cog {
  background-position: -432px 0; }

.icon-trash {
  background-position: -456px 0; }

.icon-home {
  background-position: 0 -24px; }

.icon-file {
  background-position: -24px -24px; }

.icon-time {
  background-position: -48px -24px; }

.icon-road {
  background-position: -72px -24px; }

.icon-download-alt {
  background-position: -96px -24px; }

.icon-download {
  background-position: -120px -24px; }

.icon-upload {
  background-position: -144px -24px; }

.icon-inbox {
  background-position: -168px -24px; }

.icon-play-circle {
  background-position: -192px -24px; }

.icon-repeat {
  background-position: -216px -24px; }

.icon-refresh {
  background-position: -240px -24px; }

.icon-list-alt {
  background-position: -264px -24px; }

.icon-lock {
  background-position: -287px -24px; }

.icon-flag {
  background-position: -312px -24px; }

.icon-headphones {
  background-position: -336px -24px; }

.icon-volume-off {
  background-position: -360px -24px; }

.icon-volume-down {
  background-position: -384px -24px; }

.icon-volume-up {
  background-position: -408px -24px; }

.icon-qrcode {
  background-position: -432px -24px; }

.icon-barcode {
  background-position: -456px -24px; }

.icon-tag {
  background-position: 0 -48px; }

.icon-tags {
  background-position: -25px -48px; }

.icon-book {
  background-position: -48px -48px; }

.icon-bookmark {
  background-position: -72px -48px; }

.icon-print {
  background-position: -96px -48px; }

.icon-camera {
  background-position: -120px -48px; }

.icon-font {
  background-position: -144px -48px; }

.icon-bold {
  background-position: -167px -48px; }

.icon-italic {
  background-position: -192px -48px; }

.icon-text-height {
  background-position: -216px -48px; }

.icon-text-width {
  background-position: -240px -48px; }

.icon-align-left {
  background-position: -264px -48px; }

.icon-align-center {
  background-position: -288px -48px; }

.icon-align-right {
  background-position: -312px -48px; }

.icon-align-justify {
  background-position: -336px -48px; }

.icon-list {
  background-position: -360px -48px; }

.icon-indent-left {
  background-position: -384px -48px; }

.icon-indent-right {
  background-position: -408px -48px; }

.icon-facetime-video {
  background-position: -432px -48px; }

.icon-picture {
  background-position: -456px -48px; }

.icon-pencil {
  background-position: 0 -72px; }

.icon-map-marker {
  background-position: -24px -72px; }

.icon-adjust {
  background-position: -48px -72px; }

.icon-tint {
  background-position: -72px -72px; }

.icon-edit {
  background-position: -96px -72px; }

.icon-share {
  background-position: -120px -72px; }

.icon-check {
  background-position: -144px -72px; }

.icon-move {
  background-position: -168px -72px; }

.icon-step-backward {
  background-position: -192px -72px; }

.icon-fast-backward {
  background-position: -216px -72px; }

.icon-backward {
  background-position: -240px -72px; }

.icon-play {
  background-position: -264px -72px; }

.icon-pause {
  background-position: -288px -72px; }

.icon-stop {
  background-position: -312px -72px; }

.icon-forward {
  background-position: -336px -72px; }

.icon-fast-forward {
  background-position: -360px -72px; }

.icon-step-forward {
  background-position: -384px -72px; }

.icon-eject {
  background-position: -408px -72px; }

.icon-chevron-left {
  background-position: -432px -72px; }

.icon-chevron-right {
  background-position: -456px -72px; }

.icon-plus-sign {
  background-position: 0 -96px; }

.icon-minus-sign {
  background-position: -24px -96px; }

.icon-remove-sign {
  background-position: -48px -96px; }

.icon-ok-sign {
  background-position: -72px -96px; }

.icon-question-sign {
  background-position: -96px -96px; }

.icon-info-sign {
  background-position: -120px -96px; }

.icon-screenshot {
  background-position: -144px -96px; }

.icon-remove-circle {
  background-position: -168px -96px; }

.icon-ok-circle {
  background-position: -192px -96px; }

.icon-ban-circle {
  background-position: -216px -96px; }

.icon-arrow-left {
  background-position: -240px -96px; }

.icon-arrow-right {
  background-position: -264px -96px; }

.icon-arrow-up {
  background-position: -289px -96px; }

.icon-arrow-down {
  background-position: -312px -96px; }

.icon-share-alt {
  background-position: -336px -96px; }

.icon-resize-full {
  background-position: -360px -96px; }

.icon-resize-small {
  background-position: -384px -96px; }

.icon-plus {
  background-position: -408px -96px; }

.icon-minus {
  background-position: -433px -96px; }

.icon-asterisk {
  background-position: -456px -96px; }

.icon-exclamation-sign {
  background-position: 0 -120px; }

.icon-gift {
  background-position: -24px -120px; }

.icon-leaf {
  background-position: -48px -120px; }

.icon-fire {
  background-position: -72px -120px; }

.icon-eye-open {
  background-position: -96px -120px; }

.icon-eye-close {
  background-position: -120px -120px; }

.icon-warning-sign {
  background-position: -144px -120px; }

.icon-plane {
  background-position: -168px -120px; }

.icon-calendar {
  background-position: -192px -120px; }

.icon-random {
  width: 16px;
  background-position: -216px -120px; }

.icon-comment {
  background-position: -240px -120px; }

.icon-magnet {
  background-position: -264px -120px; }

.icon-chevron-up {
  background-position: -288px -120px; }

.icon-chevron-down {
  background-position: -313px -119px; }

.icon-retweet {
  background-position: -336px -120px; }

.icon-shopping-cart {
  background-position: -360px -120px; }

.icon-folder-close {
  background-position: -384px -120px; }

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px; }

.icon-resize-vertical {
  background-position: -432px -119px; }

.icon-resize-horizontal {
  background-position: -456px -118px; }

.icon-hdd {
  background-position: 0 -144px; }

.icon-bullhorn {
  background-position: -24px -144px; }

.icon-bell {
  background-position: -48px -144px; }

.icon-certificate {
  background-position: -72px -144px; }

.icon-thumbs-up {
  background-position: -96px -144px; }

.icon-thumbs-down {
  background-position: -120px -144px; }

.icon-hand-right {
  background-position: -144px -144px; }

.icon-hand-left {
  background-position: -168px -144px; }

.icon-hand-up {
  background-position: -192px -144px; }

.icon-hand-down {
  background-position: -216px -144px; }

.icon-circle-arrow-right {
  background-position: -240px -144px; }

.icon-circle-arrow-left {
  background-position: -264px -144px; }

.icon-circle-arrow-up {
  background-position: -288px -144px; }

.icon-circle-arrow-down {
  background-position: -312px -144px; }

.icon-globe {
  background-position: -336px -144px; }

.icon-wrench {
  background-position: -360px -144px; }

.icon-tasks {
  background-position: -384px -144px; }

.icon-filter {
  background-position: -408px -144px; }

.icon-briefcase {
  background-position: -432px -144px; }

.icon-fullscreen {
  background-position: -456px -144px; }

.wrap {
  overflow: hidden; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

.container-full {
  width: 100%; }

.half {
  float: left;
  width: 50%; }

.third {
  float: left;
  width: 33.3%; }

.quarter {
  float: left;
  width: 25%; }

.container .row,
.container-full .row {
  overflow: hidden;
  margin-left: -30px; }
  .container .row .half .inner,
  .container .row .third .inner,
  .container .row .quarter .inner,
  .container-full .row .half .inner,
  .container-full .row .third .inner,
  .container-full .row .quarter .inner {
    margin-left: 30px; }

.half .inner,
.third .inner,
.quarter .inner {
  margin: 20px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    display: table;
    line-height: 0;
    content: ""; }
  .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hidden {
  display: none;
  visibility: hidden; }

.visible-phone, .visible-tablet, .hidden-desktop {
  display: none !important; }

.visible-desktop {
  display: inherit !important; }

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; }

  .visible-tablet {
    display: inherit !important; }

  .hidden-tablet {
    display: none !important; }

  .hidden-tablet-landscape {
    display: none !important; } }
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; }

  .visible-phone {
    display: inherit !important; }

  .hidden-phone {
    display: none !important; } }
@media (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px; }

  h2 {
    font-size: 22px; }

  h3 {
    padding: 0; }
    h3:after {
      width: 100%; }

  .region-content .container {
    padding: 0 44px; }

  .container-fluid {
    padding: 0; }

  .dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left; }
  .dl-horizontal dd {
    margin-left: 0; } }
@media (max-width: 480px) {
  input[type="checkbox"], input[type="radio"] {
    border: 1px solid #cccccc; }

  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left; }
  .form-horizontal .controls {
    margin-left: 0; }
  .form-horizontal .control-list {
    padding-top: 0; }
  .form-horizontal .form-actions {
    padding-right: 10px;
    padding-left: 10px; } }
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr; }

.royalSlider > * {
  float: left; }

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0); }

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden; }

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none; }

.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0; }

.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

.rsArrow,
.rsThumbsArrow {
  cursor: pointer; }

.rsThumb {
  float: left;
  position: relative; }

.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear; }

.rsGCaption {
  width: 100%;
  float: left;
  text-align: center; }

.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none; }

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto; }

.rsContent {
  width: 100%;
  height: 100%;
  position: relative; }

.rsPreloader {
  position: absolute;
  z-index: 0; }

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25); }

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22; }

.rsTabs {
  float: left;
  background: none !important; }

.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.rsVideoContainer {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  width: auto;
  height: auto;
  line-height: 0;
  position: relative; }

.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: 0.3s; }

.rsVideoFrameHolder.rsVideoActive {
  opacity: 1; }

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px; }

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15; }

img.rsImg {
  max-width: none; }

.grab-cursor {
  cursor: url(grab.png) 8 8, move; }

.grabbing-curso {
  cursor: url(grabbing.png) 8 8, move; }

.rsNoDrag {
  cursor: auto; }

.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(blank.gif); }

header {
  position: fixed;
  top: 0;
  right: 2.5%;
  width: 95%;
  overflow: hidden;
  padding: 20px 0 10px;
  -webkit-text-rendering: antialiased;
  z-index: 1000; }
  header a[href="/"] {
    float: left;
    color: inherit;
    text-decoration: none; }
    header a[href="/"] img {
      width: 30px; }
  header nav {
    float: right; }
    header nav ul {
      list-style: none;
      margin: 0; }
      header nav ul li {
        display: inline-block; }
        header nav ul li a {
          color: inherit;
          text-decoration: none;
          position: relative;
          margin-left: 40px; }
          header nav ul li a:before {
            content: "≀";
            position: absolute;
            left: -20px;
            top: -2px;
            font-size: 20px;
            color: inherit; }
          header nav ul li a:hover {
            color: white;
            text-decoration: none; }
            header nav ul li a:hover:before {
              content: "⸊"; }

#loader {
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black; }
  #loader #gif {
    height: 100%;
    width: 100%;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center center; }

.heads-container img {
  display: none;
  position: absolute;
  width: 200px;
  opacity: 0.2; }

.about-txt {
  display: none;
  width: 90%;
  margin: 200px auto 0;
  text-align: center; }

.btn-load-wrap {
  display: inline-block;
  position: relative; }

.loading {
  background: url(../img/loading.gif) no-repeat center center; }

.frame {
  position: fixed;
  background: white;
  z-index: 420420;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .frame.topper {
    top: 20px;
    left: 20px;
    right: 20px;
    height: 3px; }
  .frame.right {
    top: 20px;
    bottom: 20px;
    right: 20px;
    width: 3px; }
  .frame.bottom {
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 3px; }
  .frame.left {
    top: 20px;
    bottom: 20px;
    left: 20px;
    width: 3px; }

#intro {
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-align: center; }
  #intro #logo {
    margin: 0 0 50px 0; }
  #intro #intro-txt {
    margin: 0 auto; }

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
#tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%; }

.face {
  box-shadow: inset 0 0 0 1px black; }

.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  -webkit-transform-style: preserve-3d; }

.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em; }

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform-origin: 50%; }

.face, .face-wrapper {
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */ }

.face {
  background-size: 100% 100% !important;
  background-position: center; }

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100; }

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100; }

.side {
  left: 50%; }

.cr, .cr .side {
  height: 100%; }

[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%; }

[class*="cuboid"] .bk {
  left: 100%; }

[class*="cuboid"] .rt {
  -webkit-transform: rotateY(-90deg) translateX(-50%); }

[class*="cuboid"] .lt {
  -webkit-transform: rotateY(90deg) translateX(-50%); }

[class*="cuboid"] .tp {
  -webkit-transform: rotateX(90deg) translateY(-50%); }

[class*="cuboid"] .bm {
  -webkit-transform: rotateX(-90deg) translateY(-50%); }

[class*="cuboid"] .lt {
  left: 100%; }

[class*="cuboid"] .bm {
  top: 100%; }

/* .cub-1 styles */
.cub-1 {
  -webkit-transform: translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 4em;
  height: 4em;
  margin: -2em 0 0 -2em; }

.cub-1 .ft {
  -webkit-transform: translateZ(2em); }

.cub-1 .bk {
  -webkit-transform: translateZ(-2em) rotateY(180deg); }

.cub-1 .rt, .cub-1 .lt {
  width: 4em;
  height: 4em; }

.cub-1 .tp, .cub-1 .bm {
  width: 4em;
  height: 4em; }

.cub-1 .face {
  background-color: white; }

.cub-1 .ft {
  width: 4em;
  margin-left: 0em; }

.cub-1 .bk {
  width: 4em;
  margin-left: 0em; }

.cub-1 .rt, .cub-1 .lt {
  width: 4em; }

.cub-1 .tp, .cub-1 .bm, .cub-1 .tp .photon-shader, .cub-1 .bm .photon-shader {
  border-radius: 0em; }

.cub-1 .cr {
  width: 0em;
  left: 0em; }

.cub-1 .cr-0 {
  -webkit-transform: translate3D(4em, 0, 2em); }

.cub-1 .cr-1 {
  -webkit-transform: translate3D(4em, 0, -2em); }

.cub-1 .cr-2 {
  -webkit-transform: translate3D(0, 0, -2em); }

.cub-1 .cr-3 {
  -webkit-transform: translate3D(0, 0, 2em); }

.cub-1 .cr-0 .s0 {
  -webkit-transform: rotateY(15deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-0 .s1 {
  -webkit-transform: rotateY(45deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-0 .s2 {
  -webkit-transform: rotateY(75deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-1 .s0 {
  -webkit-transform: rotateY(105deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-1 .s1 {
  -webkit-transform: rotateY(135deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-1 .s2 {
  -webkit-transform: rotateY(165deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-2 .s0 {
  -webkit-transform: rotateY(195deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-2 .s1 {
  -webkit-transform: rotateY(225deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-2 .s2 {
  -webkit-transform: rotateY(255deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-3 .s0 {
  -webkit-transform: rotateY(285deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-3 .s1 {
  -webkit-transform: rotateY(315deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .cr-3 .s2 {
  -webkit-transform: rotateY(345deg) translate3D(-50%, 0, -0.025em); }

.cub-1 .side {
  width: 0.025em; }

html, body {
  width: 100%;
  height: 100%; }
  html .project-title, body .project-title {
    display: none;
    position: fixed;
    top: 15%;
    left: 10%;
    z-index: 200;
    font-size: 120px; }
  html .project, body .project {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 100;
    width: 45%;
    height: 90%; }
    html .project .royal-slider, body .project .royal-slider {
      width: 100%;
      height: 100%; }
  html .project-info-trigger, body .project-info-trigger {
    position: fixed;
    top: 92%;
    right: 23%; }

/*# sourceMappingURL=main.css.map */